<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMEN Drum Machine</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" !-->
</head>
<body>
    <div class="container">
        <h1>AMEN Drum Machine</h1>
        <div class="pad-container">
            <button class="drum-pad" data-sound="kick">Kick</button>
            <button class="drum-pad" data-sound="snare">Snare</button>
            <button class="drum-pad" data-sound="hihat">Hi-Hat</button>
        </div>
        <!-- Add a Play button -->
        <button id="play-button">Play Pattern</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
